<%- include("../partials/head") %>

<h1>All Blogs</h1>

<% for(let blog of blogData) { %>
<div class="container">
  <img src="<%= blog.image %>" />
  <p><%= blog.title %></p>
  <p><%= blog.description %></p>
  <p>
    <a href="/blogs/new">Edit</a><a href="/blogs/<%= blog.id %>">See More</a>
  </p>
</div>

<% } %> <%- include("../partials/footer") %>
